.subject_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px solid lightgrey;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.modal-header{
    background-color:#333;
    color:#fff;
}
