{% extends "BaseTemplate.html.twig" %}

{% block style %}
<link rel="stylesheet" href="\PHorum\templates\css\accueil.css">
{% endblock %}

{% block navbar %}
{% if userSession %}
<li id="profile" class=""><a href="http://localhost/PHorum/web/index.php/profile">Profil</a></li>
{% endif %}
{% endblock %}

{% block navbarRight %}
{% if userSession and userSession.type == 1 %}
<li><a href="admin"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
{% endif %}

{% if userSession %}
<li><a href="deconnexion"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a></li>
{% else %}
<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
{% endif %}
{% endblock %}

{% block content%}
<div class="col-xs-12">
  <div class="comments-list">
  {% for categorie in categories %}
  <div class="media">
      <div class="media-body">
          <h4 class="media-heading subject_name"><a href="sujets/{{categorie.getId()}}">{{categorie.getTitre()}}</a></h4>
      </div>
  </div>
{% endfor %}
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $("#accueil").attr("class","active");
</script>
{% endblock %}
