<div id="add" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Ajouter catégorie</h4>
      </div>
      <form id="add_cat_form" action="admin?add_categorie=true" method="POST">
      <div class="modal-body">
           <input id="categorie" type="text" class="form-control" name="categorie" placeholder="Catégorie" pattern="[A-Za-z0-9 -]{0,60}">
      </div>
      <div class="modal-footer">
        <button type="submit" id="ajouter" class="btn btn-warning">Ajouter</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
      </form>
    </div>
  </div>
</div>
