<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Bitpoint - Admin</title>

        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="\PHorum\templates\css\admin.css">
    </head>
    <body>
      {% if userSession and userSession.type == 1 %}
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Administrateur</h3>
                    <strong>A</strong>
                </div>

                <ul class="list-unstyled components">
                    <li {% if utilisateurs %} class="active" {% endif %}>
                        <a href="admin">
                            <i class="glyphicon glyphicon-user"></i>
                            Membres
                        </a>
                    </li>
                  {% if categories %}
                  <li class="active" >
                    {% else %}
                    <li>
                  {% endif %}
                    <a href="admin?query=categories">
                      <i class="glyphicon glyphicon-th-list"></i>
                      Categories
                    </a>
                  </li>
                    <li>
                      <a href="deconnexion">
                        <i class="glyphicon glyphicon-off"></i>
                        Déconnexion
                      </a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="accueil"  class="article">Retour au forum</a></li>
                </ul>
                <ul class="list-unstyled CTAs">
                  <form id="upload" method="POST" action="import" enctype="multipart/form-data">
                    <input id="import" name="import" class="hidden" type="file" onchange="upload()">
                    <li id="download" ><a href="#" class="download">Import</a></li>
                  </form>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content" class="container">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                      <div class="navbar-header">
                          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                          </button>
                      </div>


                      <!--<form class="navbar-form navbar-right" action="/action_page.php">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                              <i class="glyphicon glyphicon-search"></i>
                            </button>
                          </div>
                        </div>
                      </form>-->
                </nav>

                <div class="panel-body">
                <ul class="list-group">
                  {% if utilisateurs %}
                    {% for utilisateur in utilisateurs %}
                      {% if utilisateur.getType() != 1 %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://localhost/PHorum/resources/images/{{utilisateur.getPseudo()}}.jpg" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#">
                                        {{ utilisateur.getPseudo() }}</a>
                                    <div class="mic-info">
                                        <a href="#">{{ utilisateur.getMail() }}</a>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {% if utilisateur.getType() == 1 %}
                                      Administrateur
                                    {% else %}
                                      Membre
                                    {% endif %}
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#delete" onClick="confirm_delete('utilisateurs','{{utilisateur.getId()}}')">
                                        <a><span class="glyphicon glyphicon-trash"></span></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if categories %}
                      {% for categorie in categories %}
                      <li class="list-group-item">
                          <div class="row">
                              <div class="col-xs-12 col-md-12">
                                  <div>
                                      <a href="#">
                                          {{ categorie.getTitre() }}
                                      </a>
                                  </div>
                                  <div class="action">
                                    <button type="button" class="btn btn-warning btn-xs" title="Update" data-toggle="modal" data-target="#update" onClick="confirm_update('{{categorie.getId()}}','{{categorie.getTitre()}}')">
                                        <a><span class="glyphicon glyphicon-pencil"></span></a>
                                    </button>
                                      <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#delete" onClick="confirm_delete('categories','{{categorie.getId()}}')">
                                          <a><span class="glyphicon glyphicon-trash"></span></a>
                                      </button>
                                      <button type="button" class="btn btn-success btn-xs" title="download">
                                        <a href="admin?download_categorie={{categorie.getId()}}"><span class="glyphicon glyphicon-download-alt"></span></a>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </div>

                {% if utilisateurs %}
                <button type="button" class="btn btn-info btn-circle btn-lg">
                  <a href="inscription">
                    <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </button>
                {% endif %}

                {% if categories %}
                <button type="button" class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#add">
                  <a href="#">
                    <i class="glyphicon glyphicon-plus"></i>
                  </a>
                </button>
                {% endif %}
                <!--<div class="col-md-7">
                            <ul class="pagination pull-right">
                                <li class="disabled"><a href="javascript:void(0)">«</a></li>
                                <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="http://www.jquery2dotnet.com">2</a></li>
                                <li><a href="http://www.jquery2dotnet.com">3</a></li>
                                <li><a href="http://www.jquery2dotnet.com">4</a></li>
                                <li><a href="http://www.jquery2dotnet.com">5</a></li>
                                <li><a href="javascript:void(0)">»</a></li>
                            </ul>
              </div>-->

              {% if erreur and erreur != "" %}
              <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Erreur ! </strong>{{erreur}}.
              </div>
              {% endif %}

              {% if success and success != "" %}
              <div class="success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>Succès ! </strong>{{success}}.
              </div>
              {% endif %}
        </div>

        <!---------------------------INCLUDE----------------------->
        <div w3-include-html="\PHorum\templates\confirm_delete.html.twig"></div>
        <div w3-include-html="\PHorum\templates\confirm_update.html.twig"></div>
        <div w3-include-html="\PHorum\templates\Add_categories.html.twig"></div>


         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <script type="text/javascript" src="\PHorum\templates\js\admin.js"></script>
         <script>
           w3.includeHTML();
           function confirm_delete(data_type,id){
             if(data_type == "categories"){
               $("#title").text("Supprimer catégorie");
               $("#question").text("Êtes-vous sur de vouloir supprimer cette catégorie ?");
              $("#link").attr("href","admin?query=categories&delete_categorie=" + id);
             }
             if(data_type == "utilisateurs"){
               $("#title").text("Supprimer utilisateur");
               $("#question").text("Êtes-vous sur de vouloir supprimer cette utilisateur ?");
               $("#link").attr("href","\\PHorum\\web\\index.php\\admin?delete_user="+id);
             }
           }

           function confirm_update(id,titre){
             $("#categorie").attr("value",titre);
             $("#update_cat_form").attr("action","admin?update_categorie=" + id);
           }

           $(function() {
            $('#download').on('click', function() {
                $('#import').click();
            });
         });
         function upload(){
           $("#upload").submit();
         }
         </script>
      {% else %}
      Vous devez être connecté en tant qu'administrateur pour accéder à cette page.
      {% endif %}
    </body>
</html>
