<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block headtitle %}
    <title>Bitpoint</title>
    {% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="\PHorum\templates\css\base.css">
    {% block style %}
    {% endblock %}
  </head>
  <body class="container-fluid">
<header class="">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="\PHorum\templates\images\lol.jpg" alt="League of legend">
    </div>

    <div class="item">
      <img src="\PHorum\templates\images\hots.jpg" alt="Heroes of the storm">
    </div>

    <div class="item">
      <img src="\PHorum\templates\images\hearthstone.jpg" alt="Hearthstone">
    </div>

    <div class="item">
      <img src="\PHorum\templates\images\overwatch.jpg" alt="Overwatch">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Bitpoint</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li id="accueil" class=""><a href="http://localhost/PHorum/web/index.php/accueil">Accueil</a></li>
      {% block navbar %}
      {% endblock %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% block navbarRight %}
      {% endblock %}
    </ul>
  </div>
</div>
</nav>
</header>

    {% block content %}
    {% endblock %}


</body>
  {% block script %}
  {% endblock %}
</html>
