<div id="delete" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="title">Supprimer données</h4>
      </div>
      <div class="modal-body">
        <strong id="question">Êtes-vous sur de vouloir supprimer ces données ?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger">
        <a id="link" href="">Supprimer</a>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
