<div id="update" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Editer catégorie</h4>
      </div>
      <form id="update_cat_form" action="" method="POST">
      <div class="modal-body">
           <input id="categorie" type="text" class="form-control" name="categorie" placeholder="Catégorie" pattern="[A-Za-z0-9 -]{0,60}" required>
      </div>
      <div class="modal-footer">
        <button type="submit" id="update" class="btn btn-warning">Editer</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
      </form>
    </div>
  </div>
</div>
