<!doctype html>
<html lang="fr">
  <head>
    <title>Bitpoint - Connexion</title>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body id="overlay">
<div class="container">
       <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
           <div class="panel panel-info" >
                   <div class="panel-heading">
                       <div class="panel-title">Connexion</div>
                   </div>

                   <div style="padding-top:30px" class="panel-body" >

                       <div  style={{visibility|default('display:none')}} id="error" class="alert alert-danger col-sm-12">
                         <span id="msg_error">{{msg_error|default("")}}</span>
                       </div>

                       <form id="login_form" class="form-horizontal" role="form" action="login"  method="POST">

                           <div style="margin-bottom: 25px" class="input-group">
                                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                       <input id="pseudo" type="text" class="form-control" name="pseudo" value="" placeholder="Pseudo" pattern="[A-Za-z0-9]{0,60}" required>
                                   </div>

                           <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input id="email" type="text" class="form-control" name="email" value="" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required>
                           </div>

                           <div style="margin-bottom: 25px" class="input-group">
                                       <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                       <input id="passwd" type="password" class="form-control" name="passwd" placeholder="Mot de passe" pattern="[A-Za-z0-9]{8,12}" autocomplete="off" required>
                                   </div>

                               <div style="margin-top:10px" class="form-group">
                                   <!-- Button -->

                                   <div class="col-sm-12 controls">
                                     <input id="btn-login" type="submit" class="btn btn-success"/>

                                   </div>
                               </div>
                           </form>
                       </div>
                   </div>
       </div>
   </div>
    <script  type="text/javascript" src="/PHorum/templates/js/jquery-3.2.1.min.js"></script>
   <script type="text/javascript" src="/PHorum/templates/js/validate_login.js"></script>
  </body>
</html>
