{% extends "BaseTemplate.html.twig" %}

{% block navbar %}
{% if userSession %}
<li id="profile" class=""><a href="http://localhost/PHorum/web/index.php/profile">Profil</a></li>
{% endif %}
{% endblock %}

{% block navbarRight %}
{% if userSession and userSession.type == 1 %}
<li><a href="http://localhost/PHorum/web/index.php/admin"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
{% endif %}

{% if userSession %}
<li><a href="http://localhost/PHorum/web/index.php/deconnexion"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a></li>
{% else %}
<li><a href="http://localhost/PHorum/web/index.php/login"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="media">
  <div class="media-left">
    <img src="http://localhost/PHorum/resources/images/{{users[post.getUtilisateur()].getPseudo()}}.jpg" alt="image de profil" class="media-object" style="width:120px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{users[post.getUtilisateur()].getPseudo()}}</h4>
    <p>{{post.getContent()}}</p>
    {% if userSession and (userSession.type == 1 or userSession.userid == post.getUtilisateur()) %}
    <button type="button" class="btn btn-danger btn-xs" title="Delete" >
        <a href="{{sujet}}?delete_post={{post.getId()}}"  style="color:white"><span class="glyphicon glyphicon-trash"></span></a>
    </button> |
    {% endif %}
    <i class="glyphicon glyphicon-calendar"></i> {{post.getDate()}}
  </div>
</div>
<hr>
{% endfor %}
{% if userSession %}
<form id="add_post_form" action="http://localhost/PHorum/web/index.php/posts?sujet={{sujet}}&addFor={{userSession.userid}}" method="POST">
  <div class="form-group col-xs-6">
    <textarea class="form-control" rows="5" id="post" name="post" placeholder="Entrez votre texte ici"></textarea>
  </div>
  <div class="col-xs-12">
    <button type="submit" class="btn btn-warning">Post</button>
  </div>
</form>
{% endif %}
{% endblock %}
