{% extends "BaseTemplate.html.twig" %}

{% block style %}
<link rel="stylesheet" href="\PHorum\templates\css\Profile.css">
{% endblock %}

{% block navbar %}
{% if userSession %}
<li id="profile" class=""><a href="http://localhost/PHorum/web/index.php/profile">Profil</a></li>
{% endif %}
{% endblock %}

{% block navbarRight %}
{% if userSession and userSession.type == 1 %}
<li><a href="admin"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
{% endif %}

{% if userSession %}
<li><a href="deconnexion"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a></li>
{% else %}
<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% if userSession %}
<div class="rela-block profile-card">
        <div>
          <img alt="User Pic" src={{ image | default("https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")}} id="profile-image" class="img-circle img-responsive">

          <form id="upload" method="POST" action="http://localhost/PHorum/web/index.php/profile" enctype="multipart/form-data">
            <input id="profile-image-upload" name="image" class="hidden" type="file" onchange="upload()">
            <div style="color:#999; text-align:center;">click ici pour changer l'image de profil</div>
            <div style="color:red; text-align:center;">{{erreur}}</div>
          </form>
        </div>
        <div class="rela-block profile-name-container">
            <div class="rela-block user-name" id="user_name">{{userSession.pseudo}}</div>
            <div class="rela-block user-desc" id="user_description">{{utilisateur.getMail()}}</div>
        </div>
</div>
{% else %}
Vous devez être connecté pour accéder à cette page.
{% endif %}
{% endblock %}

{% block script %}
<script>
  $("#profile").attr("class","active");

  $(function() {
   $('#profile-image').on('click', function() {
       $('#profile-image-upload').click();
   });
});

function upload(){
  $("#upload").submit();
}
</script>
{% endblock %}
