{% extends "BaseTemplate.html.twig" %}

{% block style %}
  <link rel="stylesheet" href="\PHorum\templates\css\sujets.css">
{% endblock %}

{% block navbar %}
{% if userSession %}
<li id="profile" class=""><a href="http://localhost/PHorum/web/index.php/profile">Profil</a></li>
{% endif %}
{% endblock %}

{% block navbarRight %}
{% if userSession and userSession.type == 1 %}
<li><a href="http://localhost/PHorum/web/index.php/admin"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
{% endif %}

{% if userSession %}
<li><a href="http://localhost/PHorum/web/index.php/deconnexion"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a></li>
{% else %}
<li><a href="http://localhost/PHorum/web/index.php/login"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
  {% if userSujets %}
  <div class="page-header">
      <h1>Vos Sujets</h1>
  </div>
  {% endif %}
  <div class="comments-list">
  {% for userSujet in userSujets%}
  <div class="media">
      <div class="media-body">
          <h4 class="media-heading subject_name"><a href="http://localhost/PHorum/web/index.php/posts/{{userSujet.getId()}}">{{userSujet.getTitre()}}</a></h4>
          {% if userSession and userSession.type == 1 %}
          <button type="button" class="btn btn-danger btn-xs" title="Delete" >
              <a href="{{categorie}}?delete_sujet={{userSujet.getId()}}"  style="color:white"><span class="glyphicon glyphicon-trash"></span></a>
          </button>
          {% endif %}
      </div>
  </div>
  {% endfor %}
  </div>
    <div class="page-header">
        <h1>Sujets </h1>
    </div>
    {% if sujets %}
    <div class="comments-list">
        {% for sujet in sujets %}
        <div class="media">
            <!--<p class="pull-right"><small>date</small></p>-->
            <div class="media-body">
                <h4 class="media-heading subject_name"><a href="http://localhost/PHorum/web/index.php/posts/{{sujet.getId()}}">{{sujet.getTitre()}}</a></h4>
                Par <strong>{{users[sujet.getUtilisateur()].getPseudo()}}</strong>
                {% if userSession and userSession.type == 1 %}
                <button type="button" class="btn btn-danger btn-xs" title="Delete" >
                    <a href="{{categorie}}?delete_sujet={{sujet.getId()}}" style="color:white"><span class="glyphicon glyphicon-trash"></span></a>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<!---------------------------------Montre et cache le formulaire d'ajout d'un sujet-------------------------------->
{% if userSession %}
<button  id="showForm" type="button" class="btn btn-primary pull-right" onClick="show_form()">Ajouter sujet</button>
{% endif %}

<!---------------------Formulaire d'ajout d'un sujet------------------------------------------------->
{% if userSession %}
<form id="add_sujet_form" action="http://localhost/PHorum/web/index.php/sujets/{{categorie}}/ajouter?addFor={{userSession.userid}}" method="POST" class="form-inline col-xs-12" style="display:none">
      <fieldset>
           <legend class="input-group-text">Ajouter sujet</legend>
          <div class="form-group">
           <input id="sujet" type="text" class="form-control" name="sujet" aria-label="sujet" aria-describedby="basic-addon2" placeholder="Sujet" pattern="[A-Za-z0-9 -]{0,60}" required>
          </div>
          <button type="submit" id="ajouter" class="btn btn-warning">Ajouter</button>
      </fieldset>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>

function show_form(){
  $("#add_sujet_form").attr("style","display:block");
  $("#showForm").attr("onClick","masquer_form()");
  $("#showForm").html("Masquer");
}

function masquer_form(){
  $("#add_sujet_form").attr("style","display:none");
  $("#showForm").attr("onClick","show_form()");
  $("#showForm").html("Ajouter sujet");
}
</script>
{% endblock %}
